body {
  background: #eee;
}

.container {
  width: 875px;
  height: 100vh;
  display: flex;
  margin: 0 auto;
}

.me {
  width: 225px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.wall {
  height: 105px;
  width: 225px;
  position: relative;
  overflow: hidden;
}

.bg {
  width: 225px;
  height: 105px;
  overflow: hidden;
  position: absolute;
}

.bg-a {
  width: 315px;
  height: 210px;
  opacity: 1;
  animation-name: bg-a;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: initial;
}

.bg-b {
  width: 630px;
  height: 210px;
  opacity: 0.5;
  animation-name: bg-b;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: initial;
}

@keyframes bg-a {
  0% {
    transform: translateY(0);
  }

  15% {
    transform: translateY(-5px);
    transform: translateX(-30px);
  }

  35% {
    transform: translateY(-10px);
    transform: translateX(-60px);
  }

  51% {
    transform: translateY(-18px);
    transform: translateX(-90px);
  }

  67% {
    transform: translateY(-36px);
    transform: translateX(-60px);
  }

  85% {
    transform: translateY(-72px);
    transform: translateX(-30px);
  }

  100% {
    transform: translateY(-105px);
  }
}

@keyframes bg-b {
  0% {
    transform: translateX(0);
    transform: translateY(0);
  }

  25% {
    transform: translateY(-50px);
    transform: translateX(-100px);
  }

  50% {
    transform: translateY(0);
    transform: translateX(-200px);
  }

  75% {
    transform: translateY(-105px);
    transform: translateX(-300px);
  }

  100% {
    transform: translateY(-105px);
  }
}

.sun {
  position: absolute;
  top: 0;
  right: 12px;
  width: 60px;
  height: 66.9px;
  animation: sun 3s linear infinite;
  animation-direction: alternate;
}

.sun>img {
  width: 60px;
  height: 66.9px;
}

@keyframes sun {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.3;
  }
}

.yue-ma {
  z-index: 1;
  flex: 1;
  background: rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
  position: relative;
  transition: background 0.5s linear;
  z-index: 555;
}
.yue-ma:hover + .wechat{
  opacity: 0.8;
}
.yue-ma:hover + .simple-desc {
  opacity: 0.2;
}
.head-pic {
  width: 100px;
  height: 100px;
  border-radius: 96px;
  border: 5px solid rgba(255, 255, 255, 0.5);
  margin-top: - 55px;
  margin-left: 63px;
  z-index: 2;
  overflow: hidden;
}
.pic {
  width: 100%;
}
.wechat {
  transition: opacity 0.5s linear;
  width: 100%;
  z-index: 3;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.5);
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
}
.simple-desc {
  margin-top: 40px;
  width: 100%;
  text-align: center;
}
.name {
  font-size: 20px;
  font-family: "Graduate", cursive;
  font-weight: bold;
  color: black;
}
.p {
  margin-top: 30px;
  font-size: 14px;
  color: black;
  font-family: "Kite One", sans-serif;
}
.yueyue {
  border: 1px solid #0088f5;
  color: #0088f5;
  font-family: "Aldrich", sans-serif;
  padding: 4px 4px;
  box-sizing: border-box;
  margin-top: 35px;
  display: inline-block;
  width: 100px;
  opacity: 0.9;
}




























